<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berkeley Tennis Association</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <!-- Navigation links here -->
        </nav>
    </header>

    <main>
        <h1 class="topbar">We are Berkeley Tennis Association!</h1>
        <p class = "topbar"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris ligula, vestibulum quis urna at, 
            ornare accumsan turpis. Phasellus finibus nulla risus, at vulputate ligula euismod in. Aenean vulputate pretium sodales. 
            Duis mollis nulla vel libero auctor auctor. Duis aliquet purus libero, vel sodales ante posuere sit amet. Nulla iaculis convallis 
            massa id commodo. Aenean sit amet semper arcu, eget lacinia erat. Aliquam consequat eleifend enim, eu varius mi varius eget. 
        </p>
        <section id="team">
            <img src = "assets/ball_tennis_padel_sport_icon_141847 1.png"/>
        </section>
    </main>

    <script src="script.js"></script>
</body>
</html>