.footer-container {
    background-color: #2f6719;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    padding-top: 2%;
    padding-bottom: 2%;

    bottom: 0;
}


.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
    align-items: center;
    padding-right: 1%;
}

.footer-icons img {
    max-width: 2.5vw;
    max-height: 2.5vw;
}

a {
    background-color: #2f6719;
    border: transparent;
}